.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

.login-form {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2rem;
  border-radius: 8px;

}

.login-form input {
  margin-bottom: 1rem;
}

.login-form button {
  align-self: center;
}
